/assignment-3_build-a-restful-api/api/node_modules
/assignment-3_build-a-restful-api/package-lock.json
/assignment-4_intermediate-api/
/assignment-4_intermediate-api-1/api/node_modules
/assignment-4_intermediate-api-1/api/package-lock.json
/assignment-5_advanced-rest-features/api/node_modules
/assignment-5_advanced-rest-features/api/package-lock.json
assignment-6_oauth-2.0-implementation/chicoa_oauth_static/.env
assignment-6_oauth-2.0-implementation/chicoa_oauth_static/node_modules
assignment-6_oauth-2.0-implementation/chicoa_oauth_static/package-lock.json
assignment-7_auth0-authentication/.env
assignment-7_auth0-authentication/node_modules
assignment-7_auth0-authentication/package-lock.json
assignment-7_user-creation/.env
assignment-7_user-creation/node_modules
assignment-7_user-creation/package-lock.json
assignment-8_containerize-it/.env
assignment-8_containerize-it/node_modules
assignment-8_containerize-it/package-lock.json
assignment-8_containerize-it/hw8-chicoa-credentials.json